<?xml version="1.0"?>
<robot name="aluprofil_f20_100_gray" xmlns:xacro="http://ros.org/wiki/xacro">	

	<xacro:include filename="$(find mcr_gazebo_objects)/ros/templates/model.urdf.xacro" />

	<xacro:model_template name="aluprofil_f20_100_gray" model_filename="aluprofil_f20_100_gray.dae" scale="0.001"  size_x="0.02" size_y="0.02" size_z="0.1" weight="0.05"/>
 
</robot>
