<?xml version="1.0"?>
<robot name="nut_m20" xmlns:xacro="http://ros.org/wiki/xacro">	

	<xacro:include filename="$(find mcr_gazebo_objects)/ros/templates/model.urdf.xacro" />

	<xacro:model_template name="nut_m20" model_filename="nut_m20.dae" scale="0.001"  size_x="0.015" size_y="0.028" size_z="0.028" weight="0.068"/>
	
</robot>
