<?xml version="1.0"?>
<launch>

	<node pkg="mcr_nearest_object_detection" type="nearest_object_detection_node" name="mcr_nearest_object_detection"  output="screen">
		<param name="publish_marker" type="bool" value="True" />
		<remap from="scan" to="/scan_front"/>
		<remap from="visualization_marker_array" to="/visualization_marker_array"/>
	</node>
</launch>
