# Temp files
*~
*.swp

# Eclipse
.autotools
.cproject
.project
.settings/

# Python
.pydevproject
*.pyc

# Java
.classpath
.gradle/
.idea/

# Doxygen
html/
latex/

rospack_nosubdirs

bin/
build/
install/
