<?xml version="1.0"?>
<launch>

  <node pkg="mcr_people_tracking" type="waist_tracking_node" name="waist_tracking" ns="mcr_perception" output="screen">
    <param name="occlusion_handling_enabled" type="bool" value="true" />

    <remap from="~pointcloud_xyzrgb" to="/head_cam3d/depth_registered/points" />
    <remap from="~scan" to="/mcr_drivers/virtual_laser_scanner/scan" />
    <remap from="~visualization_marker_array" to="/visualization_marker_array" />
  </node>

</launch>
