<?xml version="1.0"?>
<launch>
    <node pkg="mcr_manipulation_monitors" type="joint_position_monitors_node"
          name="joint_position_monitors" output="screen">
        <remap from="~joint_states" to="/joint_states"/>

        <!-- the cycle rate of the node (in seconds) -->
        <param name="loop_rate" value="0.1"/>

        <!-- tolerance for the joint positions -->
        <param name="epsilon" value="0.05"/>
    </node>
</launch>