<?xml version="1.0"?>
<launch>
    <node pkg="mcr_twist_limiter" type="simulated_twist_gui_node"
            name="simulated_twist_gui" output="screen">

        <!-- the cycle time of the node (in seconds) -->
        <param name="cycle_time" value="0.1"/>

        <remap from="~twist" to="/twist_limiter/twist"/>

    </node>
</launch>