<?xml version="1.0"?>
<launch>
    <node pkg="mcr_manipulation_converters" type="transform_to_pose_converter_node"
          name="transform_to_pose_converter" output="screen">

        <!-- the cycle rate of the node (in seconds) -->
        <param name="loop_rate" type="double" value="0.1"/>

    </node>
</launch>